aiohttp
aiohttp-retry
aiosignal
async-timeout
attrs
black
blinker
cachelib
certifi
charset-normalizer
click
flake8
Flask
Flask-Session
fpdf
frozenlist
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mccabe
multidict
mypy-extensions
mysql-connector-python
packaging
pathspec
platformdirs
protobuf
pycodestyle
pyflakes
PyJWT
python-dotenv
requests
tomli
twilio
typing_extensions
urllib3
Werkzeug
yarl
zipp
